{% extends 'base.html.twig' %}

{% block body %}
    <h1>Avis module</h1>
    <div class="container_details">

        <div class="field">
            <label for="intitule">Intitulé :</label>
            <div class="input-box">
                <p>{{module.intitule}}</p>
            </div>
        </div>

        <div class="field">
            <label for="note">Note :</label>
            <div class="input-box">
                <p class="star-rating">
                    {% for i in 1..5 %}
                        {% if i <= module.note %}
                            <span class="star filled"></span>
                        {% else %}
                            <span class="star"></span>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>

        <div class="field">
            <label for="appreciation">Appréciation :</label>
            <div class="input-box-large">
                <p>{{module.appreciation}}</p>
            </div>
        </div>

    </div>
{% endblock %}

{% block title %}

{% endblock %}
