{% extends 'base.html.twig' %}

{% block body %}
    <h1>Avis module</h1>
    <div class="container_details">

    <p>Intitulé : {{module.intitule}}</p>
        <p>Formateur-trice : {{module.formateur}}</p>
            <p>Note : {{module.note}}</p>
                 <p>Appréciation : {{module.appreciation}}</p>

    </div>
{% endblock %}

{% block title %}

{% endblock %}

